@charset "UTF-8";
*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#login{
  .title{
    text-align: center;
    font-size: 25px;
  }
  form{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 280px;
    height: 400px;
  }
  .input-group{
    margin: 20px 0;
    input{
      width: 100%;
      height: 40px;
      padding: 0 10px;
      line-height: 40px;
    }
  }
  .btn-login{
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    border: 1px solid #ccc;
    cursor: pointer;
    &:hover{
      background-color: blue;
      color: #fff;
    }
  }
}
.showTitle{
  position: relative;
  text-align: center;
  font-size: 25px;
  margin: 20px auto;
  .uname{
    position: absolute;
    left: 0;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
  }
}
#imgContainer{
  position: relative;
  width: 500px;
  min-width: 500px;
  margin: 0 auto;
  height: 400px;
  min-height: 200px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0  5px #000;
  box-shadow: 0 0  5px #000;
  .topBar{
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ccc;
    padding: 0 10px;
    span{
      float: left;
    }

    .dirUrl{
      float: left;
      height: 30px;
      padding: 0 10px;
      width: 250px;
      margin-top: 5px;
    }

    button{
      float: right;
      width: 60px;
      height: 30px;
      line-height: 30px;
      margin: 4px 5px 0 0;
      cursor: pointer;
      &:first-child{
        margin-right: 0;
      }
    }
    .btnUpload{
      @extend button;
      text-align: center;
      font-size: 14px;
      border: 1px solid #aaa;
      background-color: #e3e3e3;
    }
  }
  #imgs{
    height: 85%;
    padding: 10px;
    overflow: hidden;
    overflow-y: auto;
  }
  .item{
    float: left;
    position: relative;
    width: 100px;
    height: 150px;
    line-height: 90px;
    text-align: center;
    overflow: hidden;
    margin: 10px 0 0 10px;
    img{
      max-width: 100%;
      max-height: 90px;
      padding: 10px;
      vertical-align: middle;
    }
    .text{
      position: absolute;
      bottom: 30px;
      width: 100%;
      height: 25px;
      line-height: 25px;
      text-align: center;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    .btnOperation{
      position: absolute;
      bottom: 0;
      height: 30px;
      line-height: 30px;
      width: 100%;
      padding: 0 10px;
      button{
        cursor: pointer;
      }
      .copy{
        float: left;
      }
      .delete{
        float: right;
      }
    }
  }
  #imgShow{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    .icon-close{
      position: absolute;
      width: 30px;
      height: 30px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      right: 10px;
      top: 10px;
      z-index: 100;
      background: url("../images/close.png") no-repeat center;
      -webkit-background-size: contain;
      background-size: contain;
      cursor: pointer;
    }
    >img{
      max-width: 90%;
      vertical-align: middle;
      max-height: 100%;
    }
    >button{
      position: absolute;
      width: 50px;
      height: 30px;
      margin-right: auto;
      bottom: 10px;
      cursor: pointer;
      &.btn-prev{
        left: 10px;
      }
      &.btn-next{
        right: 10px;
      }
    }
  }
}






















